NEXT_PUBLIC_SUPABASE_URL=https://eojjltwbtzunfducpzww.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVvampsdHdidHp1bmZkdWNwend3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQxNjI3NjQsImV4cCI6MjA5OTczODc2NH0.2AE38GKgjqX1ZCARMaiNMM_xT0GdfHrgnMlUtUO3IDI
NEXT_PUBLIC_SITE_URL=http://localhost:3000
